In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Salalah,OM,2022-07-16 15:28:23,17.0151,54.0924,77.86,94,100,6.85
1,1,Busselton,AU,2022-07-16 15:28:23,-33.6500,115.3333,56.93,75,81,5.48
2,2,Kahului,US,2022-07-16 15:28:23,20.8947,-156.4700,77.85,80,0,18.41
3,3,Geraldton,AU,2022-07-16 15:28:24,-28.7667,114.6000,54.01,87,100,3.44
4,4,Aksu,CN,2022-07-16 15:28:24,41.1231,80.2644,84.22,26,0,6.11

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Salalah,OM,2022-07-16 15:28:23,17.0151,54.0924,77.86,94,100,6.85
2,2,Kahului,US,2022-07-16 15:28:23,20.8947,-156.4700,77.85,80,0,18.41
4,4,Aksu,CN,2022-07-16 15:28:24,41.1231,80.2644,84.22,26,0,6.11
18,18,Albany,US,2022-07-16 15:27:34,42.6001,-73.9662,80.64,63,100,1.99
20,20,Butaritari,KI,2022-07-16 15:28:29,3.0707,172.7902,77.92,88,100,12.37
21,21,Isiro,CD,2022-07-16 15:28:29,2.7739,27.6160,80.20,62,76,2.48
22,22,Victoria,HK,2022-07-16 15:24:05,22.2855,114.1577,87.85,79,100,11.99
26,26,Naica,MX,2022-07-16 15:28:30,27.8500,-105.4833,79.54,41,32,7.65
27,27,Kruisfontein,ZA,2022-07-16 15:28:31,-34.0033,24.7314,75.88,27,0,6.13
29,29,Bumba,CD,2022-07-16 15:28:31,2.1833,22.4667,82.35,61,75,3.24

In [23]:
preferred_cities_df.count()

City_ID       246
City          246
Country       246
Date          246
Lat           246
Lng           246
Max Temp      246
Humidity      246
Cloudiness    246
Wind Speed    246
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Salalah      OM     77.86  17.0151   54.0924
2        Kahului      US     77.85  20.8947 -156.4700
4           Aksu      CN     84.22  41.1231   80.2644
18        Albany      US     80.64  42.6001  -73.9662
20    Butaritari      KI     77.92   3.0707  172.7902
21         Isiro      CD     80.20   2.7739   27.6160
22      Victoria      HK     87.85  22.2855  114.1577
26         Naica      MX     79.54  27.8500 -105.4833
27  Kruisfontein      ZA     75.88 -34.0033   24.7314
29         Bumba      CD     82.35   2.1833   22.4667

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Salalah,OM,77.86,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
2,Kahului,US,77.85,20.8947,-156.4700,Maui Seaside Hotel
4,Aksu,CN,84.22,41.1231,80.2644,Pudong Holiday Hotel
18,Albany,US,80.64,42.6001,-73.9662,
20,Butaritari,KI,77.92,3.0707,172.7902,Isles Sunset Lodge

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))